rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	// DEFAULT: Every access is disabled and only matching rule can allow access

    // USERS: Authenticated user can access only their own doc
    match /USERS/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // TRAILS: All authenticated users (including anonymous) can read, only admin users can write
    match /TRAILS/{trailId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // POIS: Same as TRAILS
    match /POIS/{poiId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // SUPPLEMENTARIES: Same as TRAILS
    match /SUPPLEMENTARIES/{supplementary} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // FEEDBACKS: All users can create
    match /FEEDBACKS/{feedbackId} {
      allow create: if true;
      allow read, update, delete: if false; // No one can read or change feedbacks
    }

    // Helper function to check if the user has 'is_admin' flag
    function isAdmin() {
      return get(/databases/$(database)/documents/USERS/$(request.auth.uid)).data.is_admin == true;
    }
  }
}
